# compiled files
/Debug/*
/Release/*
# codeblocks files (.cbp I keep)
*.depend
*.layout
# core file 
core
# carpeta temp 
/temp/


# archivos de sobra en tests
tests/*/*.png
tests/*/*_i_s_trac_*.txt
tests/*/*_i_s_uaxi_*.txt
tests/*/*_c.txt
tests/*/Nanofibrous_Mesh_Processor
