# compiled files
/Debug/*
/Release/*
# codeblocks files (.cbp I keep)
*.depend
*.layout
# core file 
core
# carpeta temp 
/temp/


# archivos de imagenes 
*.png 

# archivos de mallas deformadas
tests/*/malla_i_s_*
